@import "../../../../scssStyles/colors";
@import "../../../../scssStyles/mixins";
@import "../../../../scssStyles/_sizes";

@mixin onDesktop {
  @media (min-width: 1199px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 639px) {
    @content;
  }
}

.container {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  gap: 32px;
  max-width: 1200px;
  padding: 32px 16px;

  @media (max-width: 400px) {
    flex-direction: column;
  }

  @include onTablet {
    padding: 32px;
    align-items: center;
    flex-direction: row;
  }

  @include onDesktop {
    display: flex;
    padding: 32px 152px;
    flex-direction: row;
  }

  &_links {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 200px;
    }

    @include onDesktop {
      width: 380px;
    }
  }

  &_toTop {
    display: flex;
    justify-content: center;
  }

  &_link {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-color;
    font-family: Mont;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
  }

  &_upLink {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $secondary-color;
    font-family: Mont;
    font-weight: 700;
  }
}

.logo {
  width: 89px;
  height: $arrow--height;
}

.button {
  display: inline-block;
  margin-left: 16px;
  border-radius: 50%;
  border: 1px $icons-color solid;
  width: $arrow--width;
  height: $arrow--height;

  &:hover {
    border: 1px $primary-color solid;
  }
}

.iconUp {
  position: relative;
  width: $icon--width;
  height: $icon--height;
  top: 8px;

  path {
    fill: $primary-color;
  }
}
