@import "../../../../scssStyles/colors";
@import "../../../../scssStyles/mixins";
@import "../../../../scssStyles/_sizes";

.container {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  gap: 32px;
  max-width: 1200px;
  padding: 32px 52px;
  max-width: 1136px;

  @include onTablet {
    padding: 32px 16px;
    flex-direction: column;
  }

  &_links {
    display: flex;
    gap: 16px;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    @include onDesktop {
      width: 200px;
    }
    @include onTablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_toTop {
    display: flex;
    justify-content: center;
  }

  &_link {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-color;
    font-family: Mont;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    transition: color 0.4s;
    &:hover {
      color: $primary-color;
    }
  }

  &_upLink {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $secondary-color;
    font-family: Mont;
    font-weight: 700;
    transition: color 0.4s;
    cursor: pointer;
    &:hover {
      color: $primary-color;
      .button {
        border: 1px $primary-color solid;
      }
    }
  }
}

.logo {
  width: 89px;
  height: $arrow--height;
}

.button {
  display: inline-block;
  margin-left: 16px;
  border-radius: 50%;
  border: 1px $icons-color solid;
  width: $arrow--width;
  height: $arrow--height;
  transition: color 0.4s;
  transition: border 0.4s;
}

.iconUp {
  position: relative;
  width: $icon--width;
  height: $icon--height;
  top: 8px;

  path {
    fill: $primary-color;
  }
}
