@import '../../HomePage/MainSlider/Slider_mixins.scss';

@mixin font{
  font-family: Mont;
}


.specs {
  &_container {
    
    @include onMobile {
      margin: 80px auto 0 auto;
      width: 288px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
    }
  
    @include onTablet {
      margin: 80px auto 0 auto;
      width: 592px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 16px;
    }
  
    @include onDesktop {
      margin: 80px auto 0 auto;
      width: 1136px;
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      column-gap: 16px;
    }
   
  }

  &_about {
    
    @include onMobile {
      grid-column: 1 / 5;
      margin-top: 55px;
    }

    @include onTablet {
      grid-column: 1/ 12;
      margin-top: 64px;
    }
  
    @include onDesktop {
      grid-column: 1 / 13;
    }
    
    grid-column: 1 / 13;

    &_header {
      margin-bottom: 48px;
      font-weight: 800;
    }

    &_name {
      margin-bottom: 16px;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    &_value {
      @include font;
      color: #89939A;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px
    }

    &_section:not(:last-child) {
      margin-bottom: 32px;

    }

  }

  &_tech {
  
    @include onMobile {
      grid-column: 1 / 5;
      margin-top: 55px;
    }
  
    @include onTablet {
      grid-column: 1/ 12;
      margin-top: 64px;
    }
  
    @include onDesktop {
      grid-column: 14 / 25;
    }
    
    
    &_name {
      @include font;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      color: #89939A
    }

    &_value {
      @include font;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
    }

    &_header {
      margin-bottom: 40px;
    }

    &_section {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;

    }

  }
}
