.slider__wrapper {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding-inline: 16px;
  padding-top: 95px;

  @media (min-width: 640px) {
    width: 100%;
    margin: 64px auto;
  }

  @media (min-width: 1200px) {
    width: 100%;
    margin: 80px auto;
  }
}

.slider__header {
  margin-bottom: 24px;
}
