@import "../../scssStyles/colors";
@import "../../scssStyles/reset";
@import "../../scssStyles/typography";
@import "../../scssStyles/mixins";

$primary-text-color: #2d3748;

.OfStock {
  margin: 64px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__text {
    height: calc(100vh - 128px - 66px - 98px);
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 10px;

    gap: 12px;

    & :first-child {
      color: $primary-text-color;
      font-size: 60px;
      font-weight: 600;
      @include onTablet {
        font-weight: 40px;
      }
    }
  }

  &__wrap {
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 96px;

    @media (max-width: 640px) {
      bottom: 230px;
    }
  }
}
