@import 'src/scssStyles/mixins';
@import 'src/scssStyles/_colors';

$tablet-min-width: 576px;
$tablet-max-width: 1199px;
$desktop-min-width: 1200px;
$mobile-max-width: 480px;

@mixin onTablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

.slider-container {
  position: relative;
  height: 288px;
  max-width: 442px;
  margin: 0 auto;

  @include onMobile {
    @include onTabletGrid;
    width: 288px;
    height: 288px;
  }

  @include onTablet {
    @include onTabletGrid;
    width: 287px;
    height: 287px;
  }

  @include onDesktop {
    @include onDesktopGrid;
    width: 442px;
    height: 442px;
  }

  @media ((min-width: 479px) and (max-width: 580px)) {
    position: relative;
    height: 288px;
    max-width: 442px;
    margin: 0 auto;
  }
}

.paging-container {
  @include onTablet {
    @include onTabletGrid;
    height: 35px;
    width: 35px;
    margin-left: 10px;
  }

  @include onMobile {
    @include onMobileGrid;
    width: 50px;
    height: 50px;
    margin-left: -18px;
  }

  @include onDesktop {
    @include onDesktopGrid;
    width: 80px;
    height: 80px;
  }
  @media ((min-width: 479px) and (max-width: 580px)) {
    width: 50px;
    height: 50px;
    margin-left: -20px;
  }
}

.image {
  @include onMobile {
    justify-content: center;
    line-height: 100%;
    margin-top: 5px;
    height: 40px;
    width: 25px;
  }

  @include onTablet {
    height: 33px;
    margin-top: 1px;
    width: 20px;
    margin-bottom: 10px;
  }

  @include onDesktop {
    height: 66px;
    margin-top: 7px;
    width: 40px;
    margin-bottom: 10px;
  }

  @media ((min-width: 479px) and (max-width: 580px)) {
    justify-content: center;
    line-height: 100%;
    margin-top: 5px;
    height: 40px;
    width: 25px;
  }
}

.slick-active {
  .paging-container {
    border: 1px solid black;
  }
}

.slick-dots {
  top: 450px;
}
.slick-track {
  display: flex;
}

.slick-thumb {
  height: 0px;
}

.slick-dots li {
  transform: translateY(-750%);
  @include onMobile {
    @include onMobileGrid;
    margin: 16px 8px 0 29px;
  }

  @include onTablet {
    @include onTabletGrid;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    bottom: 310px;
    right: 60px;

    transform: translateY(-800%);
  }

  @include onDesktop() {
    @include onDesktopGrid;
    display: flex;
    flex-direction: column;
    right: 100px;
    bottom: 360px;
    margin-top: 70px;

    transform: translateY(-800%);
  }

  @media ((min-width: 479px) and (max-width: 580px)) {
    margin: 16px 8px 0 29px;
  }
}

.main-image {
  margin: 0 auto;
  height: 288px;
  width: 190px;

  @include onTablet {
    height: 273px;
    margin-top: 8px;
    width: 190px;
    margin-bottom: 10px;
  }
  @include onDesktop {
    height: 420px;
    margin-top: 7px;
    width: 250px;
    margin-bottom: 10px;
  }

  @media ((min-width: 479px) and (max-width: 580px)) {
    margin: 0 auto;
    height: 288px;
    width: 190px;
  }
}
