@import "../../scssStyles/colors";
@import "../../scssStyles/mixins";

@mixin onBigScreen {
  @media (min-width: 1200px) {
    @content;
  }
}

.Cart {
  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
  padding: 0 32px;
  padding-top: 110px; // header+40px
  padding-bottom: 56px; 
  @include onBigScreen{
    width: 1136px;
  }

  @include onDesktop {
    padding-inline: 24px;
  }
  @include onTablet {
    padding-inline: 16px;
  }

  &__title {
    font-family: Mont;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
    margin-top: 16px;

    @include onTablet {
      font-size: 32px;
      margin-top: 24px;

    }
  }

  &__container {
    display: grid;
    @include onDesktopGrid;

    @include onTablet {
      @include onTabletGrid;
    }
  }

  &__items {
    grid-column: 1 / 17;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onDesktop {
      grid-column: 1 / -1;
    }
  }

  &__total {
    grid-column: 17 /-1;

    @include onDesktop {
      grid-column: 1 / -1;
    }
  }
}


