@mixin onMobile {
  @media (max-width: 460px) {
    @content;
  }
}

.productDetails {
  display: grid;
  grid-gap: 20px;
  max-width: 300px;
}

.headColors {
  margin-bottom: -20px;
}

.id {
  font-family: 'Mont';
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  color: #89939a;
  text-align: right;
  padding-left: 455px;

  @include onMobile() {
    padding-left: 222px;
  }
}

.headColors,
.headCapacity {
  font-family: 'Mont';
  font-weight: 600;
  font-size: 12px;
  color: #89939a;
}

.capacity,
.colors {
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

.capacityButton {
  padding: 8px 16px;
  margin-left: 9px;
  border: 1px solid #b4bdc3;
  font-size: 14px;
  font-family: 'Mont';
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: #000;
    border: 1px solid black;
    color: #fff;
  }

  &.selectedCapacity {
    background-color: #000;
    border: 1px solid black;
    color: #fff;
  }
}

.price {
  .salePrice {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    font-weight: 600;
  }

  .originalPrice {
    padding-left: 8px;
    font-size: 22px;
    color: #89939a;
    font-weight: 600;
    text-decoration: line-through;
  }
}

.specs {
  font-family: 'Mont';
  display: table;
}

.spec {
  display: table-row;
}

.specName,
.specValue {
  display: table-cell;
  padding: 8px;
}

.specName {
  font-size: 12px;
  color: #89939a;
  font-weight: 600;
  text-align: left;
  line-height: normal;
}

.specValue {
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 9px;
  background-color: #ccc;
  box-shadow: 0 0 0 1px #ccc;
  border: 2px solid white;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.button:hover {
  box-shadow: 0 0 0 2px #b4bdc3;
}

.selected {
  box-shadow: 0 0 0 1px black;
}

.selected:hover {
  box-shadow: 0 0 0 1px black;
}

.black {
  background-color: #4c4c4c;
}
.green {
  background-color: #5f7170;
}
.white {
  background-color: #f0f0f0;
}
.gold {
  background-color: #fcdbc1;
}
