@import 'src/scssStyles/_colors';
@import '../../HomePage/MainSlider/Slider_mixins.scss';


$mobile_color-black: #4c4c4c;
$mobile_color-green: #5f7170;
$mobile_color-white: #f0f0f0;
$mobile_color-gold: #fcdbc1;

@mixin onMobile {
  @media (max-width: 460px) {
    @content;
  }
}

.productDetails {
  display: grid;
  grid-gap: 20px;
  max-width: 300px;
}

.headColors {
  margin-bottom: -20px;
}

.id {
  font-family: 'Mont';
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  color: $secondary-color;
  text-align: right;
  padding-left: 455px;

  @include onMobile() {
    padding-left: 222px;
  }
}

.headColors,
.headCapacity {
  font-family: 'Mont';
  font-weight: 600;
  font-size: 12px;
  color: $secondary-color;
}

.capacity,
.colors {
  border-bottom: 1px solid $elements-color;
  padding-bottom: 24px;
}

.capacityButton {
  padding: 8px 16px;
  margin-left: 9px;
  border: 1px solid $icons-color;
  font-size: 14px;
  font-family: 'Mont';
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white-color;
  }

  &.selectedCapacity {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white-color;
  }
}

.price {
  font-family: 'Mont';
  .salePrice {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    font-weight: 600;
  }

  .originalPrice {
    padding-left: 8px;
    font-size: 22px;
    color: $secondary-color;
    font-weight: 600;
    text-decoration: line-through;
  }
}

.specs {
  font-family: 'Mont';
  display: table;
}

.spec {
  display: table-row;
}

.specName,
.specValue {
  display: table-cell;
  padding: 8px;
}

.specName {
  font-size: 12px;
  color: $secondary-color;
  font-weight: 600;
  text-align: left;
  line-height: normal;
}

.specValue {
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 9px;
  background-color: $icons-color;
  box-shadow: 0 0 0 1px $icons-color;
  border: 2px solid $white-color;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.button:hover {
  box-shadow: 0 0 0 2px $icons-color;
}

.selected {
  box-shadow: 0 0 0 1px $primary-color;
}

.selected:hover {
  box-shadow: 0 0 0 1px $primary-color;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  @include onMobile {
    justify-content: center;
  }
  @include onDesktop {
    justify-content: flex-start;
  }

  @include onTablet {
    justify-content: flex-start;
  }

  @include onDesktop {
    justify-content: flex-start;
  }
}

.head {
  position: absolute;

  @include onMobile {
      left: 10%;
      top: 150px;
      font-size: 22px;
      line-height: 31px;
  }

  @include onTablet {
    left: 100px;
    font-weight:800;
    top: 180px;
    width: 592px;
  }

  @include onDesktop {
    width: 1200px;
    white-space: nowrap;
    font-size: 32px;
    top: 170px;
    left: 390px;
    font-family: 'Mont';
    font-weight: 800;
    line-height: 41px;
  }
}