@import "../../../../scssStyles/mixins";
@import "../../../../scssStyles/colors";

.linkBack {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include onTablet {
    font-size: 24px;
  }
}

.backBtn {
  font-family: Mont;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: $secondary-color;
  transition: color 0.4s;
  &:hover {
    color: $primary-color;
  }
}

.ChevronLeft {
  path {
    fill: $primary-color;
  }
}
