@import "../../../../modules/HomePage/MainSlider/Slider_mixins.scss";

.content {
  width: 1200px;
  border: 1px solid #000;
  margin-top: 168px;
}

.team_member {
  margin-right: 5px;
  overflow: hidden;
  text-align: center;

  background-color: #fff;
  border-radius: 10px;

  transition: transform 0.5s ease-in-out;
}

.team_member:hover img {
  border-radius: 20%;
  overflow: hidden;
}

.team_member img {
  padding: 10px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.team_member h3 {
  font-weight: 700;
  margin: 0;
}

.team_member .role {
  color: #888;
  margin-bottom: 10px;
}

.i {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.t {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.s {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.l {
  margin-right: 5px;
  transition: 0.5s;
}

.i:hover {
  transform: scale(1.2);
  fill: #0077b5;
}

.t:hover {
  transform: scale(1.2);
  fill: #229ed9;
}

.s:hover {
  transform: scale(1.2);
  fill: #6e5494;
}
