@import '../HomePage/MainSlider/Slider_mixins';

@mixin pageGrid {
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
  column-gap: 16px;
  display: grid;
  @media (min-width: 640px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(16, 1fr);
  }
}

.main {
  margin: 60px auto;
  max-width: 1200px;
  padding: 16px 0;

  &__header {
    @include onMobile {
      grid-column: 1 / 4;
      font-family: Mont;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.32px;
    }
  
    @include onTablet {
      grid-column: 1 / 6;
      font-family: Mont;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: -0.48px;
    }
  
    @include onDesktop {
      grid-column: 1 / 6;
      font-family: Mont;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: -0.48px;
    }
    &_invisible {
      display: none;
    }
  }

  &__models {
    margin-top: 8px;
    &_invisible {
      display: none;
    }
  }

  &__dropdown {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 32px;

    &_invisible {
      display: none;
    }
  }

  @media (min-width: 640px) {
    padding: 24px 0;
  }

  @media (min-width: 1200px) {
    padding: 32px 0;
  }
}

.list {
  @include pageGrid();
  margin: 24px auto;

  &__products {
    margin: 0 auto;

    grid-column: 1 / -1;

    @media (min-width: 640px) {
      grid-column: span 2;
    }

    @media (min-width: 1200px) {
      grid-column: span 4;
    }
  }
}

.buttons__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  height: 30px;
}

.buttons__box_invisible {
  display: none;
}
