@import "../../../../scssStyles/colors";
@import "../../../../scssStyles/_sizes";
@import "../../../../scssStyles/mixins";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $icons-color;
  background-color: $white-color;
}

.logo {
  padding: 18px 24px;
}

.control {
  display: flex;

  &__menu,
  &__cross {
    display: none;
    @media (max-width: 639px) {
      width: $icon--width;
      height: $icon--height;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      background-image: url("../../icons/union-img.svg");
    }
  }

  &__favorites,
  &__cart {
    display: block;
    position: relative;
    color: $primary-color;
    background-image: url("../../icons/favorites.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 24px;
    width: 16px;
    height: 16px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: $icons-color;
    }

    @media (max-width: 639px) {
      display: none;
    }
  }

  &__cart {
    background-image: url("../../icons/cart.svg");
  }

  &__cross {
    background-image: url("../../icons/close-img.svg");
  }

  &__menu,
  &__cross {
    background-position: center;
    background-repeat: no-repeat;
    padding: 24px;
    width: $icon--width;
    height: $icon--height;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: $icons-color;
    }
  }
}

.navbar {
  display: grid;
  @include onDesktopGrid;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navlist {
  padding-inline: 25px;
  display: flex;
  gap: 64px;
  align-items: center;
  transition: top 0.4s ease;

  @media (max-width: 1199px) {
    padding-inline: 16px;
    gap: 32px;
  }

  // COMES TO BURGER MENU(HIDDEN)
  @media (max-width: 639px) {
    position: absolute;
    width: 100%;
    top: -300%;
    left: 0;
    flex-direction: column;
  }
  // BURGER MENU(ACTIVE)
  &__active {
    padding-top: 60px;
    // padding-inline: 25px;
    display: flex;
    gap: 64px;
    align-items: center;
    transition: top 0.4s ease;
    background-color: $white-color;
    z-index: 1;
    @media (max-width: 639px) {
      display: flex;
      align-items: center;
      gap: 32px;
      position: absolute;
      height: 90vh;
      width: 100%;
      top: 67px;
      bottom: 0;
      left: 0;
      flex-direction: column;
      transition: top 0.4s ease;
    }
  }
}

.link {
  position: relative;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  font-family: "Mont";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 0;
  color: $secondary-color;
  transition: color 0.4s ease, left 0.4s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -3000%;
    width: 100%;
    height: 1px;
    background-color: $secondary-color;
    transition: left 0.4s ease;
  }

  &:hover {
    color: $primary-color;
    &::after {
      left: 0;
      height: 3px;
      background-color: $primary-color;
    }
  }

  @media (max-width: 639px) {
    &::after {
      bottom: 10px;
    }
  }
}

.buttons {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__favorites,
  &__cart {
    flex-basis: 50%;
    display: block;
    position: relative;
    color: $primary-color;
    background-image: url("../../icons/favorites.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    border: 0.5px solid $icons-color;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $primary-color;
      width: 100%;
      left: -600%;
      bottom: 1px;
      transition: left 0.4s ease;
    }

    &:hover {
      &::before {
        left: 0;
      }
    }
  }

  &__cart {
    background-image: url("../../icons/cart.svg");
  }
}

.link__active {
  position: relative;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  font-family: "Mont";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 0;
  color: $primary-color;
  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 100%;
    left: 0;
    height: 3px;
    background-color: $primary-color;
  }
}

.buttons__active {
  display: block;
  position: relative;
  color: $primary-color;
  background-image: url("../../icons/favorites.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px;
  width: $icon--width;
  height: $icon--height;
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $primary-color;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: $icons-color;
  }
}

.buttons__cart {
  background-image: url("../../icons/cart.svg");
}

.good__counter {
  position: absolute;
  content: "";
  font-size: 14px;
  font-family: "Mont";
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0;
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $icon--width;
  padding: 2px;
  height: $icon--height;
  background-color: $accent-color;
  border-radius: 50%;
  border: 2px solid $white-color;
  top: 12px;
  left: 50%;
}

.control__favorites_active,
.control__cart_active,
.buttons__cart_active,
.buttons__favorites_active {
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $primary-color;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: left 0.4s ease;
  }
}

.buttons__cart_active,
.buttons__favorites_active {
  bottom: 1px;
}
