@import '../../../scssStyles/colors';
.container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  height: 48vh;
  gap: 10%;
  margin-top: 100px;

  &__text {
    font-family: Mont;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.32px;
    margin-bottom: 32px;
    color: $secondary-color;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__button {
    font-family: Mont;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;

    width: 80%;
    color: $white-color;
    background-color: $accent-color;
    border: none;
    border-radius: 48px;
    height: 48px;
    max-width: 400px;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
      transition-duration: 0.3s;
    }

    &:active {
      border: 1px solid $elements-color;
      background-color: $white-color;
      color: $accent-color;
      transition-duration: 0.3s;
    }
  }
}

.heartPlus {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 50px;
  path {
    fill: $elements-color;
  }
}
