@import '../HomePage/MainSlider/Slider_mixins.scss';

.phoneDetails {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

.detailsContainer {
  @include onMobile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto -30px;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    margin: 0 auto;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 16px;
  }

  .sliderWrapper {
    @include onMobile {
      margin-bottom: 100px;
      grid-column: 1 / -1;
    }

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 1 / 13;
      margin-right: 20px;
    }
  }

  .phoneDetailsWrapper {
    @include onMobile {
      grid-column: 1 / -1;
    }

    @include onTablet {
      grid-column: 7 / -1;
    }

    @include onDesktop {
      grid-column: 13 / -1;
      margin-left: 25px;
    }
  }
}

.sliderContainer {
  top: 50px;
  margin: 0 auto;
  width: 273px;

  @include onTablet {
    width: 570px;
    margin: 0 auto;
  }

  @include onDesktop {
    width: 1136px;
    margin: 0 auto;
  }
}

.breadcrumps {
  margin-bottom: 50px;
  margin-left: 0;

  @include onTablet {
    max-width: 1136px;
    margin-left: 100px;
  }

  @include onDesktop {
    max-width: 1136px;
    margin-left: 0px;
  }
}