@import '../../../HomePage/MainSlider/Slider_mixins.scss';
.pagination {
  @include onMobile {
    margin: auto;
    width: 288px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 47px;
  }

  @include onTablet {
    margin: auto;
    width: 592;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 47px;
  }

  @include onDesktop {
    margin: auto;
    width: 1136px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 47px;
  }
}

.left_wrapper {
  margin-right: 16px;
}

.right_wrapper {
  margin-left: 16px;
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination_button {
  width: 32px;
  height: 32px;
  border-radius: 48px;
  border: 1px solid #e2e6e9;
  cursor: pointer;
  transition: 300ms;
}

.pagination_button:hover {
  border: 1px solid #0f0f11;
}

.pagination_button_isActive {
  background-color: #0f0f11;
  color: #ffffff;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 48px;
  border: 1px solid #b4bdc3;
  object-fit: contain;
  transition: 300ms;
}

.left:hover,
.right:hover {
  border: 1px solid #0f0f11;
}

.left:disabled,
.right:disabled {
  border: 1px solid #e2e6e9;
  opacity: 0.5;
}
