@use "../../../scssStyles/colors";

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    &__item {
        color: red;
    }
}

.button {
    display: block;
    width: 32px;
    height: 32px;
    background-color: colors.$white-color;
    border: 1px solid colors.$icons-color;
    border-radius: 50%;
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
